<!doctype html>
<html lang="en" ng-app="mne">
<head>
    <meta charset="utf-8">
    <title>Book Sharing App</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.0.min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

</head>
<body>
    <div class="wrapper" ng-controller="appCrtl" ng-init="initThis()">

        <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li ng-class="{meetings:'active'}[currentView]" ng-show="user.authorized">
                        <a href="" ng-click="changeView('meetings')">Meetings</a>
                    </li>
                    <li ng-class="{places:'active'}[currentView]" ng-show="user.authorized">
                        <a href="" ng-click="changeView('places')">Places</a>
                    </li>
                    <li ng-class="{createMeeting:'active'}[currentView]" ng-show="user.authorized">
                        <a  href="" ng-click="changeView('createMeeting')">Create meeting</a>
                    </li>
                    <li ng-class="{profile:'active'}[currentView]" ng-show="user.authorized">
                        <a  href="" ng-click="changeView('profile')">Profile</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{about:'active'}[currentView]" ng-hide="user.authorized">
                        <a  href="" ng-click="changeView('about')">About</a>
                    </li>
                    <li ng-class="{authorization:'active'}[currentView]" ng-hide="user.authorized">
                        <a  href="" ng-click="changeView('authorization')">Join us</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{language.displayName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="switchLanguage('rus')">Русский</a></li>
                            <li><a href="" ng-click="switchLanguage('eng')">English</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>


        <div class="alert-error">
            {{lots.element}} {{lots.part}} {{currentView}}
        </div>


        <div ng-view></div>

        <!--TODO: not best solution for footer-->
        <footer>
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Payment</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Follow Us</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul>
                        <li><a href="">Security</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><a href="">Agreement</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
